<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="localapp.zingohotels.com.localapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginNew"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Login.LoginWithActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.EnterProfileActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ListOfEventsActivity"
            android:theme="@style/AppThemeWhite"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        </activity>
        <activity
            android:name=".InterestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".CategoryListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomAppTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Activty.SlideOne"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activty.SlideTwo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activty.SlideThree"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activty.SlideMain"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".Activty.ActivityDetail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Activty.BookingDetailsEnter"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWhite">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Activty.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activty.ActivityBook"
            android:screenOrientation="portrait"
            android:theme="@style/CustomAppTheme">

        </activity>
        <activity
            android:name=".Activty.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomAppTheme"/>
        <activity android:name=".Activty.AboutZingoHotelActivity" />
        <activity android:name=".Activty.PackageDetailsActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5lz66RDcgiax1Ws65Cdg1M7ApDMXPU8w" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_tTRIgCc7PPKNq0" />
    </application>

</manifest>